# dependencies
node_modules

# output
/build
/.svelte-kit
/coverage

# env (forbidden)
.env
.env.*
env/*.env

# env (allowed)
!.env.example
!env/.env.example

# PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
