# builds
node_modules
/build
/.svelte-kit
/package

# env (forbidden)
.env
.env.*
env/*.env

# env (allowed)
!.env.example
!env/.env.example

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# notes
notes/
todo.txt
notes.txt

# tests
reports/
coverage/

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# reports
bundle-size-report.html
