# builds
node_modules
/build
/.svelte-kit
/package

# env
.env
.env.*
!.env.example

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# notes
notes/
todo.txt
notes.txt

# tests
coverage/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
