@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* By default, your <html> and <body> may collapse vertically and not extend to full height of the viewport. */
html,
body {
	@apply h-full;
}
